.ListAnimated {
  list-style: none;
  width: 50%;
  padding: .7rem;
  /*min-width: 320px;*/
  margin-bottom: 3rem;
}

/*mobile: 320,*/
/*tablet: 768,*/
/*desktop: 1024,*/
@media (min-width: 320px) {
    .ListAnimated{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .ListAnimated{
        width: 49%;
    }
}
@media (min-width: 1024px) {
    .ListAnimated{
        width: 47.6%;
    }
}